<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <title>:: Swift - University Admin ::</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link
      href="assets/plugins/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Custom Css -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- This Page CSS -->
    <link
      href="assets/css/themes/all-themes.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body class="theme-blush">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
      <div class="loader">
        <div class="preloader">
          <div class="spinner-layer pl-blush">
            <div class="circle-clipper left"><div class="circle"></div></div>
            <div class="circle-clipper right"><div class="circle"></div></div>
          </div>
        </div>
        <p>Please wait...</p>
      </div>
    </div>
    <!-- #END# Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
