<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
    <style>
        #chart {
            height: 300px;
            width: 100%;
        }
    </style>
</head>

<body>
    <section class="chart-section">
        <h1> Your Ranking </h1>
        <div class="ct-chart" id="chart"></div>
    </section>
    <form action="home" method="GET">
        <input type="submit" value="Back to Home" />
    </form>
    <script type="text/javascript" src="https://rawgit.com/gionkunz/chartist-js/master/dist/chartist.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            console.log("document loaded");
            var times = function (n) {
                return Array.apply(null, new Array(n));
            };

            var data = times(52).map(Math.random).reduce(function (data, rnd, index) {
                data.labels.push(index + 1);
                data.series.forEach(function (series) {
                    series.push(Math.random() * 100)
                });

                return data;
            }, {
                    labels: [],
                    series: times(4).map(function () { return new Array() })
                });

            var options = {
                showLine: false,
                axisX: {
                    labelInterpolationFnc: function (value, index) {
                        return index % 13 === 0 ? 'W' + value : null;
                    }
                }
            };

            var responsiveOptions = [
                ['screen and (min-width: 640px)', {
                    axisX: {
                        labelInterpolationFnc: function (value, index) {
                            return index % 4 === 0 ? 'W' + value : null;
                        }
                    }
                }]
            ];

            new Chartist.Line('#chart', data, options, responsiveOptions);


        });

        // Main function to draw and set up the visualization, once we have the data.

    </script>

</body>

</html>