<%- include('includes/header.ejs') %>
<!--Side menu and right menu -->
<%- include('includes/sidemenu.ejs') %>
<!--Side menu and right menu -->

<!-- main content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-md-4">
                    <h2 >University Overview - At a Glance</h2>
                    <small class="text-muted">Welcome to AdmissionTrends</small>
                </div>
                <div class="col-md-4 p-4" style="text-align:right">Select University:</div>
                <select class="form-control col-md-3 m-3" id="univOption" style="border: 1px solid black" required>
                    <option selected value="University of California-Berkeley">UC Berkeley</option>
                    <option value="University of California-Irvine">UC Irvine</option>
                    <option value="University of California-Los Angeles">UCLA</option>
                    <option value="University of California-Davis">UC Davis</option>
                    <option value="University of California-Santa Barbara">UC Santa Barbara</option>
                    <option value="University of California-Riverside">UC Riverside</option>
                    <option value="University of California-San Diego">UC San Diego</option>
                    <option value="University of California-Merced">UC Merced</option>
                </select>
            </div>
        </div>
        <div class="row">
           
        </div>



        
        
        <header>

        <div class="row clearfix top-report">
            <div class="col-lg-1 col-sm-6 col-md-6">
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3 id="ret">10</h3>
                        <p class="text-muted">Retention Rate</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar" style="background: #6495ED;" id="progressbar3" role="progressbar"
                                aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-md-6"></div>
            
            <div class="col-lg-1 col-sm-6 col-md-6">

            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="card">
                    <div class="body">
                        <h3 id="loan">24%</h3>
                        <p class="text-muted">Students with a Federal Loan</p>
                        <div class="progressbar-xs progress-rounded progress-striped progress ng-isolate-scope">
                            <div class="progress-bar" style="background: #6495ED;" id="progressbar4" role="progressbar"
                                aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-md-6"></div>
        </div>                
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                    <div class="header">
                        <h2 style="text-align:center;text-transform: none">Student SAT Score Midpoint</h2>
                    </div>
                    <div id="line1" class="body h-50">
                        <canvas id="line_chart1" height="150"></canvas>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card h-80">
                        <div class="header">
                        <h2 style="text-align:center; text-transform: none">Student Diversity</h2>
                    </div>
                    <div id = "bar2" class="body h-50">
                        <canvas id="bar_chart2" height="100"></canvas>
                    </div>
                </div>
            </div>   -->
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                    <div class="header">
                        <h2 style="text-align:center; text-transform: none">Student Debt After Graduation (10 years)</h2>
                        <h3 id="explain-debt"></h3>
                    </div>
                    <div id="line2" class="body h-50">
                        <canvas id="line_chart2"  height="150"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                    <div class="header">
                        <h2 style="text-align:center; text-transform: none">Mean Student Earning After Graduation (10 years)</h2>
                        <h3 id="explain-earning"></h3>
                    </div>
                    <div id="line3" class="body h-50">
                        <canvas id="line_chart3"  height="150"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                        <div class="header">
                                <h2 style="text-align:center; text-transform: none">Gender Distribution (2017)</h2>
                            <h3 id="explain-gender"></h3>
                        </div>
                    <div id="donut" class="body h-50">
                        <canvas id="donut_chart" height="150"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                    <div class="header">
                        <h2 style="text-align:center;text-transform: none">Instructional Expenditure per Full-Time Student</h2>
                        <h3 id="explain-expenditure"></h3>
                    </div>
                    <div id="line4" class="body h-50">
                        <canvas id="line_chart4" height="150"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card h-80">
                    <div>
                        <table class="table table-striped" id="show">
                            <div class="header">
                                <h2 style="text-align:center;text-transform: none">Tuition Comparisons (in USD)</h2>
                                <br/>
                            </div> <thead id="univ-thead">

                            </thead>
                            <tbody id="univ-tbody" >



                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
      
	</div>
</section>
<!-- main content -->

<div class="color-bg"></div>



<!-- Jquery Core Js --> 
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->

<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
<script src="assets/js/pages/charts/sparkline.min.js"></script>
<script src="index.js"></script>



</body>
</html>