<%- include('includes/header.ejs') %>
<!--Side menu and right menu -->
<%- include('includes/sidemenu.ejs') %>
<!--Side menu and right menu -->

<!-- main content -->
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-md-4">
                    <h2>Dashboard</h2>
                    <small class="text-muted">Welcome to AdmissionTrends</small>
                </div>
            </div>
        </div>
        <div class="row">

        </div>

        <header>

                <div class="row clearfix top-report">
        
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card h-80">
                        <div class="header">
                            <h2 style="text-align:center;text-transform: none">Admit Rate per University (2017)</h2>
                        </div>
                        <div class="body h-50">
                            <canvas id="line_chart1" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card h-80">
                        <div class="header">
                            <h2 style="text-align:center; text-transform: none">Average SAT Score per University (2017)</h2>
                        </div>
                        <div class="body h-50">
                            <canvas id="bar_chart1" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card h-80">
                        <div class="header">
                            <h2 style="text-align:center; text-transform: none">Retention Rate relative to Median University Retention Rate (92.5%)</h2>
                        </div>
                        <div class="body h-50">
                            <canvas id="myRetentionChart" height="100"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card h-80">
                        <div class="header">
                            <h2 style="text-align:center; text-transform: none">Average GPA relative to Median University GPA (3.90)</h2>
                        </div>
                        <div class="body h-50">
                            <canvas id="myGpaChart" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section>
<!-- main content -->

<div class="color-bg"></div>



<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->

<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js -->

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="assets/js/pages/charts/sparkline.min.js"></script>
<script src="new-dashboard.js"></script>



</body>

</html>