<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>:: University Trends ::</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <!-- This Page CSS -->
    <link href="assets/css/themes/all-themes.css" rel="stylesheet" type="text/css"/>
</head>

<body class="theme-blush">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-blush">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<%- include('includes/header.ejs') %>
<!--Side menu and right menu -->
<%- include('includes/sidemenu.ejs') %>
<!--Side menu and right menu -->

<!-- main content -->
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2 id="univOption" value="University of California-Riverside">University of California-Riverside</h2>
            <small class="text-muted">Welcome to Admission Trends</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card">
                    <img src="assets/images/ucr.jpg" class="img-fluid" alt="">
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Stats</h2>
                    </div>
                    <div class="body">
                        <strong>Student Population</strong>
                        <p>22,715</p>
                        <strong>Undergraduate Population</strong>
                        <p>19,799</p>
                        <strong>Student to Faculty Ratio</strong>
                        <p>22</p>
                        <strong>Total Annual Cost</strong>
                        <p>$62,677</p>
                        <hr>
                        <strong>Address</strong>
                        <address>900 University Ave, Riverside, CA 92521</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#report">Summary</a></li>
                            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Activities</a></li>-->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="report">
                                <div class="wrap-reset">
                                    <div class="mypost-list">
                                        <div class="post-box">
                                            <p>Despite its setting in Southern California, UCR has a distinctly Scottish feel. All residence halls at the University of California—Riverside are named for landmarks in Scotland, including Aberdeen-Inverness and Pentland Hills. </p>
                                        </div>
                                        <hr>
                                        <div class="post-box">
                                            <h4>Average Admission Scores</h4>
                                            <div class="body p-l-0 p-r-0">
                                                <ul class="list-unstyled">

                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <div class="card">
                                                            <div class="header">
                                                                <h2 style="text-align:center;text-transform: none">Student SAT score Midpoint relative to Mean Sat Midpoint</h2>
                                                            </div>
                                                            <div class="body">
                                                                <!--<canvas id="line_chart1" height="150"></canvas>-->
                                                                <canvas id="mySatChart" height="250"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <div class="card">
                                                            <div class="header">
                                                                <h2 style="text-align:center;text-transform: none">Tuition Midpoint Relative to Tuition Mean</h2>
                                                            </div>
                                                            <div class="body">
                                                                <canvas id="myTuitionChart" height="250"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                         </ul>
                                            </div>
                                        </div>
                                        </div>
                                        <h4>Undergraduate programs</h4>
                                        <ul class="dis">
                                            <li>Bioengineering</li>
                                            <li>Chemical & Environmental Engineering</li>
                                            <li>Computer Engineering</li>
                                            <li>Computer Science & Engineering</li>
                                            <li>Electrical & Computer Engineering</li>
                                            <li>Materials Science & Engineering</li>
                                            <li>Mechanical Engineering</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main content -->
<div class="color-bg"></div>
<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->

<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
<script src="assets/js/pages/charts/sparkline.min.js"></script> 
<script src="university.js"></script>




</body>
</html>