<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>:: Swift - University Admin ::</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css">
    <!-- This Page CSS -->
    <link href="assets/css/themes/all-themes.css" rel="stylesheet" type="text/css"/>
</head>

<body class="theme-blush">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-blush">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<%- include('includes/header.ejs') %>
<!--Side menu and right menu -->
<%- include('includes/sidemenu.ejs') %>
<!--Side menu and right menu -->

<!-- main content -->
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2>University of California, Santa Barbara</h2>
            <small class="text-muted">Welcome to Admission Trends</small>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card">
                    <img src="assets/images/ucsb.jpg" class="img-fluid" alt="">
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Stats</h2>
                    </div>
                    <div class="body">
                        <strong>Student Population</strong>
                        <p>24,346</p>
                        <strong>Undergraduate Population</strong>
                        <p>21,574</p>
                        <strong>Student to Faculty Ratio</strong>
                        <p>18</p>
                        <strong>Total Annual Cost</strong>
                        <p>$64,125</p>
                        <hr>
                        <strong>Address</strong>
                        <address>Los Angeles, CA 90095</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#report">Summary</a></li>
                            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#timeline">Activities</a></li>-->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="report">
                                <div class="wrap-reset">
                                    <div class="mypost-list">
                                        <div class="post-box">
                                            <p>Sitting on over 1000-acres of the breathtaking California Pacific coast, the University of California, Santa Barbara was created in 1891 as the Anna Blake School, becoming part of the UC system in 1944. The school is home to over 23,000 students, 90% hailing from the state of California, and offers over 200 majors. Six Nobel Prize recipients and dozens of Guggenheim and Fulbright scholars have attended UCSB, and the university is a research-intensive institution according to the Association of American Universities.</p>
                                        </div>
                                        <hr>
                                        <div class="post-box">
                                            <h4>Average Admission Scores</h4>
                                            <div class="body p-l-0 p-r-0">
                                                <ul class="list-unstyled">

                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="card">
                                                <div class="header">
                                                    <h2 style="text-align:center;text-transform: none">Student SAT score Midpoint</h2>
                                                </div>
                                                <div class="body">
                                                    <canvas id="line_chart1" height="150"></canvas>
                                                </div>
                                            </div>
                                        </div>                                                    
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="card">
                                                <div class="header">
                                                    <h2 style="text-align:center;text-transform: none">Tuition Midpoint</h2>
                                                </div>
                                                <div class="body">
                                                    <canvas id="line_chart2" height="150"></canvas>
                                                </div>
                                            </div>
                                        </div>                                                  
                                         </ul>
                                            </div>
                                        </div>  
                                            <!--<h4>Skill Set</h4>-->
                                            <!--<div class="body p-l-0 p-r-0">-->
                                            <!--<ul class="list-unstyled">-->
                                            <!--<li>-->
                                            <!--<div>Cake PHP</div>-->
                                            <!--<div class="progress">-->
                                            <!--<div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:80%"> <span class="sr-only">80% Complete (success)</span> </div>-->
                                            <!--</div>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<div>CSS</div>-->
                                            <!--<div class="progress">-->
                                            <!--<div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:50%"> <span class="sr-only">50% Complete</span> </div>-->
                                            <!--</div>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<div>PHP</div>-->
                                            <!--<div class="progress">-->
                                            <!--<div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>-->
                                            <!--</div>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--<div>HTML</div>-->
                                            <!--<div class="progress">-->
                                            <!--<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:20%"> <span class="sr-only">20% Complete (danger)</span> </div>-->
                                            <!--</div>-->
                                            <!--</li>-->
                                            <!--</ul>-->
                                            <!--</div>-->
                                        </div>
                                        <!--<hr>-->
                                        <!--<h4>Undergraduate programs</h4>-->
                                        <!--<ul class="dis">-->
                                        <!--<li>Primary School (Year 1 to 6)</li>-->
                                        <!--<li>Secondary School (Year 7 to 11)</li>-->
                                        <!--<li>Colleges (BCA)</li>-->
                                        <!--</ul>-->
                                        <!--<hr>-->
                                        <h4>Undergraduate programs</h4>
                                        <ul class="dis">
                                            <li>Chemical Engineering</li>
                                            <li>Computer Engineering</li>
                                            <li>Computer Science</li>
                                            <li>Electrical Engineering</li>
                                            <li>Mechanical Engineering</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="timeline">
                                <div class="timeline-body">
                                    <div class="timeline m-border">
                                        <div class="timeline-item">
                                            <div class="item-content">
                                                <div class="text-small">Just now</div>
                                                <p>It is a long established.</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">11:30</div>
                                                <p>There are many variations</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning border-l">
                                            <div class="item-content">
                                                <div class="text-small">10:30</div>
                                                <p>Contrary to popular belief </p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning">
                                            <div class="item-content">
                                                <div class="text-small">3 days ago</div>
                                                <p>vacation</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text--muted">Thu, 10 Mar</div>
                                                <p>Contrary to popular belief</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Sat, 5 Mar</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text-small">Sun, 11 Feb</div>
                                                <p>Blood checkup test</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Thu, 17 Jan</div>
                                                <p>Admission</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- main content -->
<div class="color-bg"></div>
<!-- Jquery Core Js -->
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="assets/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->

<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
<script src="assets/js/pages/charts/sparkline.min.js"></script> 
<script src="university.js"></script>



</body>
</html>